# Ignorer les dossiers de build
build/
buildClem/
buildPaul/
build*/
/*build/

# Ignorer les fichiers de configuration de VSCode/VSCodium
.vscode/

# Ignorer le CMakeLists.txt
CMakeLists.txt

# Ignorer les .zsh
build.zsh
run_local.zsh

# Ignorer le fichier de test .numbers
testCholesky.numbers

# Rapport TeX
rapport.pdf
rapport.aux
rapport.fdb_latexmk
rapport.fls
rapport.log
rapport.synctex.gz